app = "marco-polo"
primary_region = "ams"

[http_service]
auto_start_machines = true
auto_stop_machines = true
force_https = true
internal_port = 8080
min_machines_running = 0
processes = ["app"]

[processes]
app = "uvicorn main:app --host 0.0.0.0 --port 8080"

[[vm]]
cpu_kind = "shared"
cpus = 1
memory_mb = 256